/eclipse_lua.zip
/.metadata
/CognitiveServicesDemo
/NodeDemo
/RemoteSystemsTempFiles
/Servers
/Weixin

/taotao-common/.idea
/taotao-parent/.idea
/taotao-sso/target
/taotao-search/target
/taotao-rest/target
/taotao-portal/target
/taotao-order/target
/taotao-manage/taotao-manage-mapper/target
/taotao-manage/taotao-manage-pojo/target
/taotao-manage/taotao-manage-service/target
/taotao-manage/taotao-manage-web/target
/taotao-common/target
