<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lujiahao.mapping.mapper.TbItemDescMapper">
    <resultMap id="BaseResultMap" type="com.lujiahao.mapping.pojo.TbItemDesc">
        <constructor>
            <idArg column="item_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="created" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="updated" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="item_desc" javaType="java.lang.String" jdbcType="LONGVARCHAR"/>
        </constructor>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_item_desc
    where item_id = #{itemId,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.lujiahao.mapping.pojo.TbItemDesc">
    insert into tb_item_desc (item_id, created, updated, 
      item_desc)
    values (#{itemId,jdbcType=BIGINT}, #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP}, 
      #{itemDesc,jdbcType=LONGVARCHAR})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.lujiahao.mapping.pojo.TbItemDesc">
    update tb_item_desc
    set created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP},
      item_desc = #{itemDesc,jdbcType=LONGVARCHAR}
    where item_id = #{itemId,jdbcType=BIGINT}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select item_id, created, updated, item_desc
    from tb_item_desc
    where item_id = #{itemId,jdbcType=BIGINT}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select item_id, created, updated, item_desc
    from tb_item_desc
  </select>
</mapper>