<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lujiahao.mapping.mapper.TbOrderMapper">
    <resultMap id="BaseResultMap" type="com.lujiahao.mapping.pojo.TbOrder">
        <constructor>
            <idArg column="order_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="payment" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="payment_type" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="post_fee" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="payment_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="consign_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="end_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="close_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="shipping_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="shipping_code" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="user_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="buyer_message" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="buyer_nick" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="buyer_rate" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_order
    where order_id = #{orderId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.lujiahao.mapping.pojo.TbOrder">
    insert into tb_order (order_id, payment, payment_type, 
      post_fee, status, create_time, 
      update_time, payment_time, consign_time, 
      end_time, close_time, shipping_name, 
      shipping_code, user_id, buyer_message, 
      buyer_nick, buyer_rate)
    values (#{orderId,jdbcType=VARCHAR}, #{payment,jdbcType=VARCHAR}, #{paymentType,jdbcType=INTEGER}, 
      #{postFee,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{paymentTime,jdbcType=TIMESTAMP}, #{consignTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{closeTime,jdbcType=TIMESTAMP}, #{shippingName,jdbcType=VARCHAR}, 
      #{shippingCode,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, #{buyerMessage,jdbcType=VARCHAR}, 
      #{buyerNick,jdbcType=VARCHAR}, #{buyerRate,jdbcType=INTEGER})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.lujiahao.mapping.pojo.TbOrder">
    update tb_order
    set payment = #{payment,jdbcType=VARCHAR},
      payment_type = #{paymentType,jdbcType=INTEGER},
      post_fee = #{postFee,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      consign_time = #{consignTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      close_time = #{closeTime,jdbcType=TIMESTAMP},
      shipping_name = #{shippingName,jdbcType=VARCHAR},
      shipping_code = #{shippingCode,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      buyer_message = #{buyerMessage,jdbcType=VARCHAR},
      buyer_nick = #{buyerNick,jdbcType=VARCHAR},
      buyer_rate = #{buyerRate,jdbcType=INTEGER}
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select order_id, payment, payment_type, post_fee, status, create_time, update_time, 
    payment_time, consign_time, end_time, close_time, shipping_name, shipping_code, user_id, 
    buyer_message, buyer_nick, buyer_rate
    from tb_order
    where order_id = #{orderId,jdbcType=VARCHAR}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select order_id, payment, payment_type, post_fee, status, create_time, update_time, 
    payment_time, consign_time, end_time, close_time, shipping_name, shipping_code, user_id, 
    buyer_message, buyer_nick, buyer_rate
    from tb_order
  </select>
</mapper>