<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lujiahao.sso.dao.UserMapper">
    <resultMap id="userResultMap" type="com.lujiahao.sso.domain.pojo.User">
        <id column="id" property="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result column="username" property="username" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="password" property="password" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="email" property="email" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="question" property="question" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="answer" property="answer" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="role_id" property="roleId" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result column="create_date" property="createDate" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="update_date" property="updateDate" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,email,phone,question,answer,role_id,create_date,update_date
    </sql>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insert" parameterType="com.lujiahao.sso.domain.pojo.User">
    insert into user (username, password,
      email, phone, question, 
      answer, role_id, create_date, 
      update_date)
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{question,jdbcType=VARCHAR}, 
      #{answer,jdbcType=VARCHAR}, #{roleId,jdbcType=INTEGER}, now(), now())
  </insert>
    <insert id="insertSelective" parameterType="com.lujiahao.sso.domain.pojo.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="question != null">
                question,
            </if>
            <if test="answer != null">
                answer,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
                create_date,
                update_Date,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="question != null">
                #{question,jdbcType=VARCHAR},
            </if>
            <if test="answer != null">
                #{answer,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=INTEGER},
            </if>
                now(),
                now(),
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lujiahao.sso.domain.pojo.User">
        update user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="question != null">
                question = #{question,jdbcType=VARCHAR},
            </if>
            <if test="answer != null">
                answer = #{answer,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                role_id = #{roleId,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                update_date = now(),
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>


    <update id="updateByPrimaryKey" parameterType="com.lujiahao.sso.domain.pojo.User">
    update user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      question = #{question,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=INTEGER},
      create_date = #{create_date,jdbcType=TIMESTAMP},
      update_date = now()
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="userResultMap">
    select id, username, password, email, phone, question, answer, role_id, create_date, 
    update_date
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>

    <select id="selectAll" resultMap="userResultMap">
    select id, username, password, email, phone, question, answer, role_id, create_date, 
    update_date
    from user
  </select>

    <!--校验用户名是否存在-->
    <select id="checkUsername" parameterType="string" resultType="int">
        SELECT COUNT(1) FROM user u
        WHERE u.username=#{username}
    </select>
    <!--校验phone是否存在-->
    <select id="checkPhone" parameterType="string" resultType="int">
        SELECT COUNT(1) FROM user u
        WHERE u.phone=#{phone}
    </select>
    <!--校验email是否存在-->
    <select id="checkEmail" parameterType="string" resultType="int">
        SELECT COUNT(1) FROM user u
        WHERE u.email=#{email}
    </select>

    <!--用户登录-->
    <select id="userLogin" parameterType="map" resultType="com.lujiahao.sso.domain.pojo.User">
        SELECT
        id,username,password,email,phone,question,answer,
        role_id AS roleId,create_date AS createDate,update_date AS updateDate
        FROM user u
        WHERE u.username = #{username}
        AND u.password = #{password}
    </select>
</mapper>